body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s;
    z-index: 1000;
}

.navbar:hover {
    width: 200px;
}

.nav-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #ddd;
}

.icon {
    font-size: 24px;
    margin-left: 10px;
}

.label {
    margin-left: 20px;
    display: none;
}

.navbar:hover .label {
    display: inline;
}

.main-content {
    flex: 1;
    margin-left: 60px; /* Offset for the fixed navbar */
    padding: 20px;
    box-sizing: border-box;
    width: calc(100% - 60px); /* Adjust the width to account for the navbar */
}

.main-content h1 {
    margin-top: 20px; /* Add some margin to the top */
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: auto;
}

.scrollbar {
    width: 10px;
    background-color: #ddd;
}
