body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #968f8f;
}

header, footer {
    background-color: #2e2525;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}
